<h1>
  {{title}}
</h1>

<nav>
  <a routerLink='/users'>Users</a> 
  <a routerLink='/userForm'>UserForm</a> |
  <a routerLink='/products'>Products</a> 
 
 

  
</nav> <br/>
<router-outlet></router-outlet>

