<div>
  <h3>Products List:</h3>
      <table class="table table-striped">
         <thead>
           <tr>
             <th>Pid</th>
             <th>Pname</th>
             <th>Cost</th>
             <th>CategoryId</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor = "let product of products">
              <td>{{product.pid}}</td>
              <td>{{product.pname}}</td>
              <td>{{product.cost}}</td>
              <td>{{product.categoryId}}</td>
             <td> <app-product [product] = product (deleteEvent) = "deleteProduct($event)"></app-product> </td>
              </tr>

            </tbody>
        </table>
  </div>